<div style="text-align: center; line-height:130%;">
	<div class="items-group">
		<div class="item plural">
			<span><%= item %></span>
			<div class="image">
				<%= makePicture({src: frame.file_sg, width: 150}) %>
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</div>
		</div>
		<div class="item singular">
			<span><%= item %></span>
			<div class="image">
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</div>
		</div>
	</div>
</div>


<div class="trialpartWrapper" style="clear:both; text-align: center;">
	<%= makeScale({buttons: ["Continue"], edgelabels: [""], disable: true  }) %>
</div>

<div style="clear: both; height: 1px;">&nbsp;</div>
