<%
	suffix = "ek";
	sound_sg="resources/sounds/" + file_sg;
	sound_pl1="resources/sounds/" + file_pref;
	sound_pl2="resources/sounds/" + file_suff;


	function playSound(soundFile) {
		var audio  = new Audio();
		var audioSource = document.createElement("source");
		audioSource.src = soundFile;
		audio.appendChild(audioSource);
		audio.play();
	}

	function playAllSounds() {
		setTimeout(function() { playSound(sound_sg); }, 1000);
		setTimeout(function() { playSound(sound_pl2); }, 2700);

		// Randomize which plural is played based on a simple "coin-toss" randomizer
	//	var heads = (Math.floor(Math.random() * 2) == 0);

	//	if(heads){
	//		setTimeout(function() { playSound(sound_pl1); }, 3000);
	//	}else{

	//	}
	}

//	playAllSounds();

%>

<div style="text-align: center; line-height:130%;">
<<<<<<< HEAD
	<table border="2" align="center" cellpadding = "20">
=======

	<!-- <table border="2" align="center" cellpadding = "20">
>>>>>>> parent of 87a569d... added animations
		<tr>
			<td align="center"> <%= item %></td> 	&nbsp;
			<td class="hide"></td>
			<td align="center"> <%= item+suffix %></td>
		</tr>
		<tr>
			<td align="center"> <%= makePicture({src: frame.file_sg, width: 150}) %></td>
			<td class="hide"></td>
			<td align="center">
				<%= makePicture({src: frame.file_sg, width: 150}) %>
				&nbsp;
<<<<<<< HEAD
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</td>
		</tr>
	</table>
=======
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</td>
		</tr>
	</table> -->

	<div class="items-group">
		<div class="item singular">
			<span><%= item %></span>
			<div class="image">
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</div>
		</div>
		<div class="item plural">
			<span><%= item+suffix %></span>
			<div class="image">
				<%= makePicture({src: frame.file_sg, width: 150}) %>
				<%= makePicture({src: frame.file_sg, width: 150}) %>
			</div>
		</div>
	</div>
>>>>>>> parent of 87a569d... added animations
	<% // playAllSounds();%>
</div>

<div class="trialpartWrapper" style="clear:both; text-align: center;">
	<%= makeScale({buttons: ["Continue"], edgelabels: [""], disable: false }) %>
</div>


<div style="clear: both; height: 1px;">&nbsp;</div>

<script>
	// var continueButton = document.getElementById("1button0");
	// continueButton.disabled = true;
	// delayButtonEnabled(continueButton, 5);

	function delayButtonEnabled(button, seconds) {
		setTimeout(function() { button.disabled = false; }, seconds * 800);
	}
</script>
